extends layout

block content
  
  div.ds-global-wrapper
    div.careers-wrapper.content.container
      header
        h1.center.heading.large-text Careers
      div.careers
        ul.careers-list
          each career in data.careers
            li.career-list-item
              h3.career-heading=career.name
              div.career-spec
                p.career-spec-heading Experience 
                p.career-spec-caption=career.experience
              div.career-spec
                p.career-spec-heading Functional Areas Concerned 
                p.career-spec-caption=career.functionalAreas
              div.career-spec
                p.career-spec-heading Description 
                p.career-caption=career.description
                a(href=`mailto:hikerr@mail.com?subject=${career.mailSubject}`).btn.btn-glossy Apply Now
