extends layout

block content
  
  section.content.hero-wrapper#hero
    - let i = 0;
    for hero in data.destinations
      div(class=(i++ == 0)?"":"off-screen-hero").hero-gadets-wrapper
        div.hero-overlay
        div(style=`background-image: url('/assets/images/hres/dests/${hero.imageName}');`).hero-background
        div.hero-content-wrapper.animate-leftin
          div.hero-content.container
            header.hero-header.largest-text
              h1=hero.heading
            article.hero-caption
              p=hero.caption
            a(href=`/destinations/${hero.linkName}#ds`).btn.btn-glossy-white More Information
            div.hero-nav
              div(onclick='heroNavLeft()').arrow-wrapper
                div.arrow
              div(onclick='heroNavRight()').arrow-wrapper
                div.arrow.arrow-right
  
  section.ds-global-wrapper#ds
    section.container.content.ds-wrapper
      header.ds-header
        h1.heading.large-text.center Destinations
      section.ds
        each destination in data.destinations
          a(href=`/destinations/${destination.linkName}`).ds-card-wrapper.watch
            figure.ds-card-image-wrapper
              img(src=`/assets/images/lres/dests/${destination.imageName}`, alt=destination.imageCaption).ds-card-image
              div.overlay
              div.ds-card-caption
                h3.ds-caption-heading=destination.heading
              
  section.ts-global-wrapper#ts
    section.container.content.ds-wrapper
      header.ds-header
        h1.heading.large-text.center Trip Styles
      section.ds
        each trip in data.tripStyles
          a(href=`/styles/${trip.linkName}`).ds-card-wrapper.watch
            figure.ds-card-image-wrapper
              img(src=`/assets/images/lres/other/${trip.imageName}`, alt=trip.imageCaption).ds-card-image
              div.overlay
              div.ds-card-caption
                h3.ds-caption-heading=trip.heading
  
  section.tours-global-wrapper#ut
    section.content.container#tours
      header.ds-header
        h1.heading.large-text.center Upcoming Trips
      section.tours-wrapper
        for tour in data.upComingTours
          div.tour-wrapper
            img(src=`/assets/images/lres/dests/${tour.imageName}`, alt=tour.imageCaption).tour-image
            div.tour-details
              h2.tour-heading=tour.heading
              div.tour-entry
                i(class='fa fa-calendar').tour-icon
                span.tour-date #{tour.startDate}
              div.tour-entry
                i(class='fa fa-clock-o').tour-icon
                span.tour-duration #{tour.durationMin}
              div.tour-entry
                i(class='fa fa-money').tour-icon
                span.tour-price #{tour.priceMin}
              hr
              div.tour-description
                p=tour.caption
              a(href='#').btn.btn-glossy.btn-full More Information


  section.tours-global-wrapper
    section.content.container#blogs
      header.ds-header
        h1.heading.large-text.center Blogs
      section.tours-wrapper
        for blog in data.blogs
          div.tour-wrapper
            img(src=`/assets/images/lres/dests/${blog.imageName}`, alt=blog.imageCaption).blog-image
            div.tour-details
              h2.tour-heading=blog.title
              div.tour-entry
                i(class='fa fa-calendar').tour-icon
                span.tour-date=blog.writingDate.toDateString()
              div.tour-entry
                i(class='fa fa-clock-o').tour-icon
                span.tour-duration #{blog.readTime} mins read
              div.tour-entry
                i(class='fa fa-book').tour-icon
                span.tour-price=blog.author
              hr
              div.tour-description
                p=blog.caption
              a(href='#').btn.btn-glossy.btn-full Read More

  section.ab-global-wrapper#about
  section.container.content.ds-wrapper
    header.ds-header
      h1.heading.large-text.center About Us
    section.ab
      video.ab-video(controls, loading='lazy').watch
        source(src='/assets/videos/about.mp4', type='video/mp4')
        source(src='/assets/videos/about.ogg', type='video/ogg')
      article.ab-content-wrapper
        p.ab-content=data.content
  
  
