extends layout

block content
  
  section.content.hero-wrapper#hero
    div.hero-gadets-wrapper
      div.hero-overlay
      div(style=`background-image: url('${data.imageUrl}/hres_hikerr.jpg');`).hero-background
      div.hero-content-wrapper.animate-leftin
        div.hero-content.container
          header.hero-header
            h1.largest-text.heading Hikerr
          article.hero-caption
            p Hikerr travel and tour creates travel experiences that are tailored to individual needs and desires. It focuses on cultural immersion and active adventures for travelers. Excursions are arranged for national and International travellers as per UNWTO.
          a(href='#ds').btn.btn-glossy-white Begin exploring
  
  section.ds-global-wrapper#ds
    section.container.content.ds-wrapper
      header.ds-header
        h1.heading.large-text.center Destinations
      section.ds-text
        p Choose from a variety of destinations to visit
      section.ds
        each destination in data.destinations
          a(href=`/destinations/${destination.linkName}`).ds-card-wrapper.watch
            figure.ds-card-image-wrapper
              img(src=`${data.imageUrl}/lres_${destination.imageName}`, alt=destination.imageCaption).ds-card-image
              div.overlay
              div.ds-card-caption
                h3.ds-caption-heading=destination.heading
              
  section.ts-global-wrapper#ts
    section.container.content.ds-wrapper
      header.ds-header
        h1.heading.large-text.center Trip Styles
      section.ds-text
        p Choose from a variety of Trip styles to visit
      section.ds
        each trip in data.tripStyles
          a(href=`/styles/${trip.linkName}`).ds-card-wrapper.watch
            figure.ds-card-image-wrapper
              img(src=`${data.imageUrl}/lres_${trip.imageName}`, alt=trip.imageCaption).ds-card-image
              div.overlay
              div.ds-card-caption
                h3.ds-caption-heading=trip.heading

  if data.blogs.some(blog => blog.status === 'featured')
    section.blogs-global-wrapper
      section.content.container#blogs
        header.ds-header
          h1.heading.large-text.center Blogs
        section.ds-text
          p Some of our featured blogs
        section.tours-wrapper
          for blog in data.blogs
            if blog.status === 'featured'
              a(href=`/blogs/${blog.linkName}`).tour-wrapper
                img(src=`${data.imageUrl}/mres_${blog.imageName}`).tour-image
                div.tour-details
                  h2.tour-heading=blog.title
                  div.tour-description
                    p Read more
                
                
  if data.upComingTours.some(tour => tour.status === 'upcoming')        
    section.ut-global-wrapper#ut
      section.content.container#tours
        header.ds-header
          h1.heading.large-text.center Upcoming Trips
        section.ds-text
          p Here are some of our upcoming trips
        section.tours-wrapper
          for tour in data.upComingTours
            if tour.status === 'upcoming'
              a(href='#').tour-wrapper
                img(src=`${data.imageUrl}/mres_${tour.imageName}`, alt=tour.imageCaption).tour-image
                div.tour-details
                  h2.tour-heading=tour.heading
                  div.tour-description
                    p=tour.caption

  section.ab-global-wrapper#about
    section.container.content
      header.ds-header
        h1.heading.large-text.center About Us
      section.ab
        video.ab-video(controls, loading='lazy').watch
          source(src='/assets/videos/about.mp4', type='video/mp4')
          source(src='/assets/videos/about.ogg', type='video/ogg')
        article.ab-content-wrapper
          p.ab-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  
  
