extends layout

block content
  
  section.content.hero-wrapper#hero
    div.hero-gadets-wrapper
      div.hero-overlay
      div(style=`background-image: url('${data.imageUrl}/hres_${data.tripStyle.imageName}');`).hero-background
      div.hero-content-wrapper.animate-leftin
        div.hero-content.container
          header
            h1.largest-text.heading=data.tripStyle.heading
          article.hero-caption
            p=data.tripStyle.caption
          a(href='#ds').btn.btn-glossy-white More Details
  
  if data.tripStyle.substyles.length              
    section.ds-global-wrapper
      section.container.content.ds-wrapper
        header.ds-header
          h1.heading.large-text.center Variations
        section.ds
          each variation in data.tripStyle.substyles
            a(href=`/substyles/${variation.linkName}`).ds-card-wrapper.watch
              figure.ds-card-image-wrapper
                img(src=`${data.imageUrl}/mres_${variation.imageName}`, alt=variation.imageCaption).ds-card-image
                div.overlay
                div.ds-card-caption
                  h3.ds-caption-heading=variation.heading
                  
                  
  if data.tripStyle.tours.length              
    section.ds-global-wrapper
      section.container.content.ds-wrapper
        header.ds-header
          h1.heading.large-text.center Tours
        section.ds
          each variation in data.tripStyle.tours
            a(href=`/tours/${variation.linkName}`).ds-card-wrapper.watch
              figure.ds-card-image-wrapper
                img(src=`${data.imageUrl}/mres_${variation.imageName}`, alt=variation.imageCaption).ds-card-image
                div.overlay
                div.ds-card-caption
                  h3.ds-caption-heading=variation.heading
