extends layout

block content
  
  section.content.hero-wrapper#hero
    div.hero-gadets-wrapper
      div.hero-overlay
      div(style=`background-image: url('${data.imageUrl}/hres_${data.trip.imageName}');`).hero-background
      div.hero-content-wrapper.animate-leftin
        div.hero-content.container
          header
            h1.largest-text.heading=data.trip.heading
          article.hero-caption
            p=data.trip.caption
          a(href='#trips').btn.btn-glossy-white Itinerary
          
          
  section.ds-global-wrapper.details-wrapper
    section.container.content.trip-wrapper#trips
      header
        h1.heading.center.large-text Details
      div.trip-specs-wrapper
        div.trip-spec
          i(class='fa fa-globe').trip-spec-icon
          span.trip-spec-header Best time to go
          span.trip-spec-details=data.trip.bestTimeToGo
        div.trip-spec
          i(class='fa fa-calendar').trip-spec-icon
          span.trip-spec-header Holiday length
          span.trip-spec-details #{data.trip.holidayLength} Days
        div.trip-spec
          i(class='fa fa-tag').trip-spec-icon
          span.trip-spec-header Price Guide
          span.trip-spec-details Rs #{data.trip.priceMin} - #{data.trip.priceMax}
        div.trip-spec
          i(class='fa fa-map-marker').trip-spec-icon
          span.trip-spec-header Holiday Type
          span.trip-spec-details=data.trip.holidayType
          
          
          
  section.ds-global-wrapper
    section.container.content.trip-wrapper#trips
      header
        h1.heading.center.large-text Tour Highlights
      section.highlights-wrapper
        div.highlights
          p=data.trip.highlightsCaption
        each image in data.trip.highlightsImages
          img(src=`${data.imageUrl}/mres_${image}`).highlights-image
            
  section.ds-global-wrapper
    section.content.trip-days-wrapper
      header
        h2.heading.center.large-text Itinerary
      div.itinerary-wrapper.container
        ul.itinerary-list
          header.itinerary-header
            p.itinerary-header-caption Itinerary &amp; Guide
            h2.itinerary-header-heading=data.trip.heading
          each itin,index in data.trip.itinerary 
            li(class=index===0?'active-itinerary':'').itinerary-item
              div(style=`background-image:url('${data.imageUrl}/mres_${itin.image}')`).itinerary-background
                div.overlay.itinerary-overlay
              p.itinerary-day Day #{index + 1}
              h3.itinerary-heading=itin.heading
              p.itinerary-content=itin.caption
        nav.itinerary-nav
          ul.itinerary-nav-list
            each itin, index in data.trip.itinerary
              li(onclick=`setActiveItinerary(${index})`,class=index===0?'active-itinerary-item':'').itinerary-nav-list-item
                span Day #{index + 1}
  
  

        

  section.ds-global-wrapper
    section.content.container.trip-form-outer
      header
        h2.heading.center.large-text Book this tour
      div(style=`background-image:url('${data.imageUrl}/mres_${data.trip.formImage}')`).content.trip-form-wrapper.container.trip-form-background
        div.overlay
        form(method='post', action='/tours/booking').trip-form
          input(type='hidden' name='title' value=data.trip.heading)
          label(for='name') First Name 
            span.red *
          input(type='text' name='firstName' placeholder='First Name' required).trip-form-input
          label(for='name') Last Name 
            span.red *
          input(type='text' name='lastName' placeholder='Last Name' required).trip-form-input
          label(for='name') Email 
            span.red *
          input(type='email' name='email' placeholder='Email' required).trip-form-input
          label(for='name') Phone 
            span.red *
          input(type='phone' name='phone' placeholder='Phone' required).trip-form-input
          label Gender 
            span.red *
          select(name='gender').trip-form-input
            option(name='gender' value='Male') Male
            option(name='gender' value='Female') Female
          label(for='people') Departure 
            span.red *
          select(name='departure').trip-form-input
            each departure in data.trip.departures
              option(name='departure' value=departure)=departure
          label(for='people') Discount Code
          input(type='text' name='discountCode' placeholder='Enter discount code').trip-form-input
          div.form-terms
            input(type='checkbox', name='terms' required).trip-form-checkbox
            a(href='/terms' target='_blank').term-link I agree to the booking terms
          input(type='submit' value='Book Now').btn.btn-glossy.trip-form-submit
